// Variables
$font-stack: Helvetica, sans-serif;
$primary-font-color: red;
$tab-color: rgba(61,124,255,0.75);

// Mixins
@mixin size($length...) {
  @if length($length) == 1 {
    width: nth($length, 1);
    height: nth($length, 1);
  }
  @if length($length) == 2 {
    width: nth($length, 1);
    height: nth($length, 2);
  }
}

@mixin cushion($space...) {
  @if length($space) == 1 {
    padding: nth($space, 1);
    margin: nth($space, 1);
  }
  @if length($space) == 2 {
    padding: nth($space, 1);
    margin: nth($space, 2);
  }
}

@mixin media($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}


// Other
html {
  @include size(100%);
  overflow: hidden; // DOESN'T WORK???
}

a {
  text-decoration: none;
  &:link, &:visited {
    color: white;
  }
}

body, #container {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  @include cushion(0);
  @include size(100%);
}

#header {
  @include size(100%, 12.5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1, p {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
  }
}
.modal-pic {
  #top-text, #bottom-text {
    margin: 0;
  }
  @include media(300px) {
    font-size: 1.2rem;
    #top-text {
      padding-top: 10vh;
    }
    #bottom-text {
      padding-top: 10vh;
    }
  }
  @include media(600px) {
    font-size: 5.05vh;
    #top-text {
      padding-top: 5vh;
    }
    #bottom-text {
      padding-top: 5vh;
    }
  }
  @include size(100%, 31.25%);
  &#main {
    background-image: url(../assets/img/open-space.png);
  }
  &#contact{
    background-image: url(../assets/img/meeting.jpg);
  }
  &#amenities {
    background-image: url(../assets/img/coffee-bar.png);
  }
  &#location {
    background-image: url(../assets/img/plants.png);
  }
  &#join {
    background-image: url(../assets/img/entrance.png);
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 10px 1px #000, inset 0px 0px 10px 1px #000;
  @include media(900px) {
    #top-text {
      padding-top: 3vh;
    }
    #bottom-text {
      padding-top: 3vh;
    }
  }
}
#body-div {
  @include size(100%, 56.25%);
  display: flex;
  flex-direction: row;
  @include cushion(5.56% 0 5.55% 0, 0);
}
#left {
  @include size(49.5%, 100%);
  @include cushion(0,0 0 0 -4.5%);
  .tab {
    justify-content: flex-end;
    padding-right: 10%;
  }
}
#middle {
  @include size(10%, 100%);
}
#right {
  @include size(49.5%, 100%);
  @include cushion(0,0 -4.5% 0 0);
  .tab {
    justify-content: flex-start;
    padding-left: 10%;
  }
}
.tab {
  display: flex;
  align-items: center;
  font-size: 6vmin;
  background-color: $tab-color;
  @include size(100%, 22.22%);
  border: 1px solid rgba(61,124,255,1);
  border-radius: 10%;
  box-shadow: 0px 0px 10px 1px #000;
  &:hover {
    background-color: rgba(61,124,255,1);
    cursor: pointer;
  }
}
.blank {
  @include size(100%, 22.22%);
}
